name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - run: npm install
      - run: npm run build

      - run: |
          docker run \
            -v $(PWD)/build:/build \
            -e AWS_ACCESS_KEY_ID \
            -e AWS_SECRET_ACCESS_KEY \
            amazon/aws-cli --endpoint-url "${AWS_S3_ENDPOINT}" s3 sync /build s3://${AWS_S3_BUCKET}/
        env:
          AWS_S3_BUCKET: ${{ secrets.S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          AWS_S3_ENDPOINT: ${{ secrets.S3_HOSTNAME }}
          AWS_REGION: 'eu-de'
          SOURCE_DIR: 'build'
